@import url(https://fonts.googleapis.com/css?family=The+Girl+Next+Door&display=swap);





body{
    font-family: 'The Girl Next Door', cursive;
}


.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}




#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }






  .image-stream {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }



.comment {
    margin: 20px 0px 20px 20px;
}




h3{
    color:violet;
    font-family: 'Indie Flower', cursive;
    font-size: 80;
}

#profile{
    color: red;
}