

      <nav id="nav" class="navbar sticky-top navbar-expand-lg navbar-light" style="font-family: monospace">
          <div class="container">
            <div class="col-md-4">
              <a  id="icons" class=" navbar-brand" href="{% url 'login' %}"><i class="fab fa-instagram"></i> <i style="border-left:1px solid rgba(0,0,0,0.4);"> </i> <i class="space"></i>  Instagram </a>
            
            </div>
            

        
          </div>
        
    
        
        </nav>
        